*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white
}
li{
    list-style-type: none;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: 'FS PF BeauSans Pro';
}
.container{
    width: 100%;
}
.header{
    width: 100%;
    height: 80px;
    padding: 8px 120px;
    border-bottom: 1px solid rgba(202, 202, 202, 0.2);
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.nav-item{
    margin-inline: 32px;
}
.nav-link{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    display: block;
    transition: .2s linear;
}
.icon-item:hover,
.nav-link:hover{
    color: #F5A425;
}
.line{
    width: 0;
    height: 2px;
    background-color: #F5A425;
    transition: .2s linear;
    position: absolute;
}
.icon-item{
    color: white;
    margin-left: 32px;
    transition: .2s linear;
}   
.hero-banner{
    width: 100%;
    height: 800px;
    padding-top: 120px;
    padding-left: 120px;
    display: flex;
    overflow: hidden;
}
.left{
    color: white;   
}
.left > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    max-width: 550px;
}
.left > h1 > span{
    background: linear-gradient(90deg, #F652F9 1%, #822BBB 54.16%, #6F96E6 99.99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.left > p {
    max-width: 450px;
    margin-top: 24px;
    font-weight: 350;
    font-size: 18px;
}
.buttons{
    display: flex;
    gap: 24px;
    margin-block: 64px;
    position: relative;
    z-index: 2;
}
.buttons > button {
    width: 235px;
    height: 75px;
    border-radius: 4px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    position: relative;
    background: transparent;
    z-index: 2;
    border: 1px solid rgba(202, 202, 202, 0.64);
}
.calc-product{
    display: flex;
    gap: 80px;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
}
.display {
    display: flex;
}
.display span {
    font-weight: 800;
    font-size: 56px;
}
.buttons>button:hover{
    color: white;
}
.buttons > button::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background: linear-gradient(90deg, #00FBFE 1%, #7096E6 100.01%);
    backdrop-filter: blur(60px);
    transition: .5s cubic-bezier(0.5 , 1.6 , 0.4 , 0.7);
    transform: scaleX(0);
    border-radius: 4px;
} 
.buttons>button:hover::before {
    transform: scaleX(1);
    height: 100%;
}
.calc-product p{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-top: 8px;
}
.right{
    flex-grow: 1;
    padding-left: 100px;
    display: flex;
    gap: 60px;
}
.product{
    width: 360px;
    height: 550px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
}   
.product-top{
    height: 80%;
    overflow: hidden;
}
.product-top img{
    width: 100%;
    height: 100%;
    transition: .2s linear;
}
.product-top img:hover{
    transform: scale(1.1)
}
.product-top-overlay{
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 290px;
    height: 100px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.2) 100%);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
.product-top-overlay > div > p{
    margin-block: 10px;
}
.product-bottom{
    background: linear-gradient(90deg, #7096E6 -0.02%, #00FBFE 100.01%);
    border-radius: 0px 0px 8px 8px;
    display: flex;
}
.bottom-left{
    color: white;
    padding: 24px 20px;
}
.bottom-right{
    flex-grow: 1;
}
.product.focus{
    transform: scale(1.1);
    opacity: 1;
}
.product{
    transition: .2s linear;
    opacity: .6;
}
.product-top{
    position: relative;
}
.product-bottom{
    position: relative
}
.bottom-right > button{
    font-weight: 700;
    font-size: 24px;
    padding: 16px 32px;
    background: linear-gradient(270deg,
            rgba(39, 45, 124, 0.8) 0%,
            rgba(23, 27, 82, 0.648) 100%,
            rgba(23, 27, 82, 0.656) 100%);
    position: absolute;
    bottom: 24px;
    right: 20px;
    color: white;
    border-radius: 8px;
    transition: .2s linear;
}
.bottom-right>button:hover{
    transform: translateY(-5px);
}
.how-it-works{
    width: 100%;
    height: 660px;
    padding-inline: 115px;
    padding-top: 60px;
}
.how-it-works > h3{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: white;
}
.pics-link{
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.how-it-works-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    max-width: 285px;
    margin-inline: 40px;
    transform: translateY(140px);
}
.content > h5{
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}
.content > p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color:  white;
}
.potw{
    width: 100%;
    padding: 60px 120px;
}
.potw-top{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 32px;
}
.potw-top > h2{
    font-weight: 700;
    font-size: 48px;
    color: white;
}
.potw-items{
    display: grid;
    place-items: center;
    gap: 24px 16px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-rows: repeat(2 , 440px);
}
.potw-items .product{
    opacity: 1;
    transform: scale(.8);
}
.potw-see-more{
    padding-top: 0;
    display: none;
}
.qty-overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, 
    rgba(137, 137, 137, 0.8) 0%, 
    rgba(137, 137, 137, 0.6) 100%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s linear;
}
.qty-show{
    font-weight: 700;
    font-size: 56px;
    color: white;
}
.live-auction{
    width: 100%;
    height: 820px;
    padding: 60px 120px;
    display: flex;
    flex-direction: column;
}
.live-auction h2{
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: white;
    margin-bottom: 80px;
}
.la-products-wrapper{
    width: 100%;
    flex-grow: 1;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.la-product{
    background: linear-gradient(180deg, 
    rgba(58, 53, 129, 0.4) 0%, 
    rgba(58, 53, 129, 0.3) 100%);
    backdrop-filter: blur(60px);
    border-radius: 8px;
}
.la-product.product-normal{
    width: 340px;
    height: 415px;
}
.la-product-top{
    padding: 32.5px 32px 12px;
}
.la-product-bottom{
    padding: 12px 12px 24px;
    color: white;
}
.bottom-detail{
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
}
.detail-left h5{
    font-weight: 700;
    font-size: 18px;
}
.detail-left p{
    font-weight: 400;
    font-size: 14px;
}
.detail-right > button{
    display: flex;
    gap: 32px;
    padding: 12px 32px;
    background: linear-gradient(90deg, 
    #7096E6 -0.02%, #00FBFE 100.01%);
    border-radius: 8px;
    position: relative;
    z-index: 1;
}
.detail-right > button::before{
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    z-index: -1;
    background: #001980;
    border-radius: 8px;
}
.detail-right span {
    background: linear-gradient(90deg, 
    #7096E6 -0.02%, #00FBFE 100.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 18px;
}
.bottom-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.bottom-btns > button{
    padding: 10px 28px;
    color: white;
    width: 150px;
    transition: .2s linear;
}
.bottom-btns > button:first-child{
    background: linear-gradient(270deg,
                rgba(39, 45, 124, 0.8) 0%,
                rgba(23, 27, 82, 0.648) 100%,
                rgba(23, 27, 82, 0.656) 100%);
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
}
.bottom-btns>button:last-child{
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}
.bottom-btns > button:hover{
    transform: translateY(-5px)
}
.product-bigger{
    transform: scale(1.4)
}
.features{
    width: 100%;
    height: 820px;
    padding: 120px;
    display: flex;
}
.left > button{
    padding: 24px 60px;
    background: linear-gradient(270deg, 
    rgba(39, 45, 124, 0.8) 0%, rgba(23, 27, 82, 0.648) 100%, 
    rgba(23, 27, 82, 0.656) 100%);
    border-radius: 8px;
    color: white;
    margin-top: 40px;
    transition: .2s linear;
}
.left > button:hover{
    transform: translatey(-10px);
}
.feature-detail{
    width: 590px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.feature-item{
    width: 48%;
    height: 48%;
    padding: 12px;
    color: white;
    border-radius: 8px;
}
.feature-item h5{
    font-weight: 700;
    font-size: 18px;    
    margin-top: 20px;
    margin-bottom: 8px;
}
.feature-item p{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.64);
}
.get-update{
    padding: 60px 220px 125px 220px;
    text-align: center;
    color: white;
}
.get-update > h3 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 12px;
}
.get-update p {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 64px;
}
.input-group {
    display: flex;
}
.input-group > input {
    width: 85%;
    background-color: #D9D9D9;
    color: black;
    padding: 24px 80px;
    border: transparent;
}
:placeholder {
    color: white;
}
.input-group > button {
    flex-grow: 1;
    color: white;
    font-weight: 600;
    font-size: 24px;
    background: linear-gradient(90deg, 
    #7096E6 -0.02%, #00FBFE 100.01%);
    padding: 24px 40px;
}
.footer {
    width: 100%;
    height: 310px;
    background: linear-gradient(270deg, 
    rgba(39, 45, 124, 0.8) 0%, 
    rgba(23, 27, 82, 0.648) 100%, 
    rgba(23, 27, 82, 0.656) 100%);
    padding: 48px 150px;
    display: flex;
    gap: 60px;
}
.column {
    color: white;
    width: 100px;
}
.column h3{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 40px;
}
.column ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.column a,
.column li {
    transition: .2s linear;
}
.column li > i {
    margin-right: 16px;
}
.get-on{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-columns-social li:hover,
.footer-columns-hightlight a:hover {
    color: #F5A425;
}






















/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #001980 1%, #001aff 100%);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    opacity: 0.6;
}